:root {
    --blue: #277A89;
    --white: #ffffff;
  }

.active{
    color: var(--blue) !important;
    font-weight: bold;
}


.hero-section {
    position: relative;
    background: url('../images/shopping-bag-cart.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
}
.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.btn-hero {
    padding: 10px 30px;
    font-size: 1.25rem;
    border-radius: 50px;
    /* background-color: aqua; */
    transition: background-color 0.3s ease;
}

.category-nav {
    white-space: nowrap;
  }
  
  @media (max-width: 768px) {
    .category-nav {
      overflow-x: auto;
    }
    
    .category-nav .row {
      flex-wrap: nowrap;
    }
  
    .category-nav .col-6 {
      flex: 0 0 auto;
    }
  }
    .sctn-line {
    width: 75%;
    margin: auto;
    height: 1px;
    background: rgb(0, 0, 0);
}

.card{
    margin: 2%;
    padding: 1%;
    outline: 1px solid grey;
    border-radius: 25px;
    overflow:hidden;
}
.card img{
    max-width:70%; 
    height:70% ; 
    margin: auto;
}
.card:hover{
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0px 0px 10px black);
    transition: .50s;
    transform: scale(1.01);
  }

.submit{
    background-color: var(--blue);
}
.subumit:hover{
    background-color: #1f5963;
    transition: ease 1.3s;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: var(--blue);
}
.typewriter {
    font-family: monospace;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--blue); }
}

.typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}